appnope 
asttokens
boto3==1.34.113
botocore==1.34.113
certifi==2024.2.2
charset-normalizer==3.3.2
comm 
contourpy==1.2.1
cycler==0.12.1
debugpy 
decorator
exceptiongroup 
executing
fonttools==4.53.0
idna==3.7
importlib_metadata
ipykernel
ipython 
jedi
jmespath==1.0.1
joblib==1.4.2
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
matplotlib-inline
metaflow==2.11.16
nest_asyncio
numpy==2.0.0
packaging
parso
pexpect
pickleshare 
pillow==10.3.0
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure-eval 
Pygments
pyparsing==3.1.2
python-dateutil
pyzmq 
requests==2.32.2
s3transfer==0.10.1
scikit-learn==1.5.0
scipy==1.13.1
setuptools==70.0.0
six 
stack-data 
threadpoolctl==3.5.0
tornado 
traitlets 
typing_extensions 
urllib3==2.2.2
wcwidth 
wheel==0.43.0
zipp 